
  <script type="text/javascript">
 function initialize() { 
    
    var circleObj;
    //東京駅を中心に地図を表示。 
    var myLatlng = new google.maps.LatLng(35.681382, 139.766084); 
    var options = { 
        //地図のズームサイズ 
        zoom: 15, 
        //地図の中心地 
        center: myLatlng, 
        mapTypeId: google.maps.MapTypeId.ROADMAP 
    }; 
    var map = new google.maps.Map(document.getElementById("map"), options); 
    
    //地図をクリックされた時のイベント 
    google.maps.event.addListener(map, 'idle', function(event) { 
      var mapcenter = map.getCenter();
      document.getElementById("point_lng").value = mapcenter.lng();
      document.getElementById("point_lat").value = mapcenter.lat();

      input_radius = parseInt(document.getElementById("point_radius").value);
        
    if(circleObj){
      circleObj.setMap(null);
     }
        //円を描く 
    var circleOptions = { 
        map: map, 
        center: map.getCenter(),
        radius: input_radius, 
        strokeColor: "#55555", 
        strokeOpacity: 1, 
        strokeWeight: 1, 
        fillColor: "#555555", 
        fillOpacity: 0.1
    }; 
    circleObj = new google.maps.Circle(circleOptions); 


    })
    
    
    
  $('#getad').click(function() {
 
    var sad = $('#address').val();
    var geocoder = new google.maps.Geocoder();
 
    geocoder.geocode({ 'address': sad}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
 
        map.setCenter(results[0].geometry.location);
        marker.setPosition(results[0].geometry.location);
 
        var p = marker.position;
        $('#lat').val(p.lat());
        $('#lng').val(p.lng());
      } else {
        alert('住所から場所を特定できませんでした。最初にビル名などを省略し、番地までの検索などでお試しください。');
      }
    });
 
    return false;
 
  });


  };
  


    </script>

    
</head>
<body onload="initialize()">
	
<label class='label'>住所</label>
<input type='text' name='address' id='address' value='' />
<button id='getad'>住所から取得</button>

<div id="map" style="width: 600px; height: 400px;"></div> 

<%= form_for @point, :url => {:controller => 'contents',:action => 'search'} do |f| %>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>
  <%= f.text_field :radius %>
  <%= button_tag(:type => 'submit', :class => 'btn btn-primary') do %>
    <i class="icon-pencil icon-white"></i>
  <% end %>
<% end %>

