
  <script type="text/javascript">
  function initialize() { 


    //東京駅を中心に地図を表示。 
    var myLatlng = new google.maps.LatLng(35.681382, 139.766084); 
    var options = { 
       //地図のズームサイズ 
        zoom: 15, 
        //地図の中心地 
        center: myLatlng, 
        mapTypeId: google.maps.MapTypeId.ROADMAP
        };
    var map = new google.maps.Map(document.getElementById("map"), options); 
 
    var circleObj;
    
    //地図をクリックされた時のイベント 
    google.maps.event.addListener(map, 'idle', function(event) { 
      var mapcenter = map.getCenter();
      document.getElementById("lng").value = mapcenter.lng();
      document.getElementById("lat").value = mapcenter.lat();

      input_radius = parseInt(document.getElementById("radius").value);
      
      drawCircle(input_radius);

    })
 

    function drawCircle(input_radius){
  	 if(circleObj){
      circleObj.setMap(null);
     }
        //円を描く 
    var circleOptions = { 
        map: map, 
        center: map.getCenter(),
        radius: input_radius, 
        strokeColor: "#5B7437", 
        strokeOpacity: 1, 
        strokeWeight: 1, 
        fillColor: "#FAB951", 
        fillOpacity: 0.2
    }; 
    circleObj = new google.maps.Circle(circleOptions); 
  	
  };

  	
  $( "#slider-range-min" ).slider({
      range: "min",
      value: 1000,
      min: 500,
      max: 5000,
      slide: function( event, ui ) {
        $( "#radius" ).val(ui.value  + "m");
        drawCircle(ui.value);
      }
    });
   $( "#radius" ).val($( "#slider-range-min" ).slider( "value" ) + "m" );


  };
      



    </script>

    
</head>
<body onload="initialize()">
	
	
    <div class="container-narrow">

      <div class="masthead text-center">
        <%= image_tag('asudoko_logo.png') %>
      </div>

      <hr>

      <div class="jumbotron">
        <div id="map" style="width: 700px; height: 400px;"></div> 
      </div>

      <hr>

      <div class="jumbotron">

        <div class="">
          	
        <%= form_tag("contents/search", class: "form-horizontal") do %>
  <%= hidden_field_tag :lat %>
  <%= hidden_field_tag :lng %>
  <div class="control-group">
    <label class="control-label" for="inputEmail">範囲</label>
    <div class="controls text-left">
      <%= text_field_tag :radius %>
      <div id="slider-range-min"></div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">遊ぶ／見る</label>
    <div class="controls text-left check">
<label class="checkbox inline2"><%= check_box_tag 'check[]', "park", true %>公園</label>
<label class="checkbox inline2"><%= check_box_tag 'check[]', "museum", true %>ミュージアム</label>
<label class="checkbox inline2"><%= check_box_tag 'check[]', "art_gallery", true %>ギャラリー</label>
<label class="checkbox inline2"><%= check_box_tag 'check[]', "library", true %>図書館</label><br />
<label class="checkbox inline2"><%= check_box_tag 'check[]', "aquarium", true %>水族館</label>
<label class="checkbox inline2"><%= check_box_tag 'check[]', "zoo", true %>動物園</label>
<label class="checkbox inline2"><%= check_box_tag 'check[]', "amusement_park", true %>遊園地</label>
<label class="checkbox inline2"><%= check_box_tag 'check[]', "bowling_alley", true %>ボウリング場</label><br />
<label class="checkbox inline2"><%= check_box_tag 'check[]', "movie_theater", true %>映画館</label>
<label class="checkbox inline2"><%= check_box_tag 'check[]', "spa", true %>温泉</label>
<label class="checkbox inline2"><%= check_box_tag 'check[]', "stadium", true %>スタジアム</label>

    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">買う</label>
    <div class="controls text-left">
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "bicycle_store", true %>自転車店</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "food", true %>食料品店</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "bakery", true %>パン屋</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "clothing_store", true %>衣料品店</label><br />
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "jewelry_store", true %>宝飾店</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "shoe_store", true %>靴屋</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "home_goods_store", true %>インテリア</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "electronics_store", true %>電器店</label><br />
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "book_store", true %>書店</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "florist", true %>花屋</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "pharmacy", true %>薬局</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "liquor_store", true %>酒店</label><br />
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "shopping_mall", true %>モール</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "department_store", true %>百貨店</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "grocery_or_supermarket", true %>スーパー</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "convenience_store", true %>コンビニ</label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">食べる</label>
    <div class="controls text-left">
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "cafe", true %>カフェ</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "restaurant", true %>レストラン</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "bar", true %>居酒屋</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "night_club", true %>ナイトクラブ</label>
    </div>
  </div>
  
    <div class="control-group">
    <label class="control-label" for="inputEmail">立ち寄る</label>
    <div class="controls text-left">
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "school", true %>学校</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "university", true %>大学</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "post_office", true %>郵便局</label>
    </div>
  </div>
  
    <div class="control-group">
    <label class="control-label" for="inputEmail">行く</label>
    <div class="controls text-left">
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "train_station", true %>駅</label>
  <label class="checkbox inline2"><%= check_box_tag 'check[]', "subway_station", true %>地下鉄駅</label>
    </div>
  </div>
  
  <%= button_tag(:type => 'submit', :class => 'btn btn-large btn-success') do %>
明日どこ行く？
  <% end %>
          
 <% end %>
</div>
        
      </div>

      <hr>

      <div class="footer">
        <p>&copy; kanorimon 2013</p>
      </div>

    </div> <!-- /container -->

	
	