
  <script type="text/javascript">
 function initialize() { 
    
    var directionsDisplay = new google.maps.DirectionsRenderer(); //　ルート案内
    var directionsService = new google.maps.DirectionsService(); // 地図表示用

    directionsDisplay.setOptions(
     {
       suppressMarkers: true
     });
 
    //東京駅を中心に地図を表示。 
    var myLatlng = new google.maps.LatLng(<%= @lat_center %>, <%=  @lng_center %>); 
    var options = { 
        //地図のズームサイズ 
        zoom: 15, 
        //地図の中心地 
        center: myLatlng, 
        mapTypeId: google.maps.MapTypeId.ROADMAP 
    }; 
    var map = new google.maps.Map(document.getElementById("map"), options); 

    
    //マーカー表示 
    var myMarker = new google.maps.Marker({
      position: new google.maps.LatLng(<%= @lat_center %> ,<%= @lng_center %>),
      map: map
    });

    <% @results.each do |i| %>
    var myMarker = new google.maps.Marker({
      position: new google.maps.LatLng(<%= i['geometry']['location']['lat'] %> ,<%= i['geometry']['location']['lng'] %>),
      map: map
    });
    <% end %>


    
    directionsDisplay.setMap(map);
 
    var start = new google.maps.LatLng(<%= @lat_center %> , <%= @lng_center %> );
    var end = new google.maps.LatLng(<%= @lat_center %> , <%= @lng_center %> );
    var request = {
    origin:start, // 出発地
    destination:end, // 目的地
	waypoints:[
	{location:new google.maps.LatLng(<%= @results[0]['geometry']['location']['lat'] %> , <%= @results[0]['geometry']['location']['lng'] %> )},
	{location:new google.maps.LatLng(<%= @results[1]['geometry']['location']['lat'] %> , <%= @results[1]['geometry']['location']['lng'] %> )},
	{location:new google.maps.LatLng(<%= @results[2]['geometry']['location']['lat'] %> , <%= @results[2]['geometry']['location']['lng'] %> )},
	{location:new google.maps.LatLng(<%= @results[3]['geometry']['location']['lat'] %> , <%= @results[3]['geometry']['location']['lng'] %> )},
	{location:new google.maps.LatLng(<%= @results[4]['geometry']['location']['lat'] %> , <%= @results[4]['geometry']['location']['lng'] %> )},
	], //　途中経路
    travelMode: google.maps.DirectionsTravelMode.WALKING // 車で
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response); // 描画
      }
    });
    
  };
  


    </script>
    
</head>
<body onload="initialize()">
	
		
    <div class="container-narrow">

      <div class="masthead text-center">
        <%= image_tag('asudoko_logo.png') %>
      </div>

      <hr>

      <div class="jumbotron">
        <div id="map" style="width: 700px; height: 400px;"></div> 
      </div>

      <hr>

      <div class="jumbotron">


<% @results.each_with_index do |i,k| %>
  <p>
    No：<%= k %><br>
    名前：<%= i['name'] %><br>
    住所：<%= i['vicinity'] %><br>
    lat：<%= i['geometry']['location']['lat'] %><br>
    lng：<%= i['geometry']['location']['lng'] %><br>
  </p>
<% end %>

      </div>

      <hr>

      <div class="footer">
        <p>&copy; kanorimon 2013</p>
      </div>

    </div> <!-- /container -->